# Update these with your Supabase details from your project settings > API
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
SUPABASE_DB_PASSWORD=UPDATE_THIS_wITH_YOUR_SUPABASE_SUPABASE_DB_PASSWORD

# Update these with your Stripe credentials from https://dashboard.stripe.com/apikeys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51RAAO0QK40ID3BCyAakpzJjMU9TFpmnxVdLQy6KdtGBEHMY28ixcmqCCEw03MqLV9scEMhUhiYn1SnlScK0QGOF000jeYvd11b
STRIPE_SECRET_KEY=sk_test_51RAAO0QK40ID3BCy0bPUZe8gn2zC7ZmRBz8IMXM9V8x0vk6pGCAQ4iBdlCPsitTQdeFWxFwjunDBAC2QcjBz6NGx00uOHhZQFN
STRIPE_WEBHOOK_SECRET=whsec_43f16e3be1beb83b0ce72ea95a95e7b0cd0ba6aa86be9f684b199ec35b391f6c
STRIPE_PRICE_ID=price_1REXj1QK40ID3BCysk1Yo9AX

# Update this with your resend.com credentials from https://resend.com/api-keys
RESEND_API_KEY=re_test_1234

# Env
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_BASE_URL=http://localhost:3000
